:root
{
    --black: rgb(0, 0, 0);
    --white: rgb(235, 235, 235);
    --ash: rgb(224, 219, 216);
    --blue: rgb(0, 117, 252);
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Poppins', sans-serif;
    background: var(--white); 
}

a
{
    text-decoration: none;
    padding: 5px 10px;
}

ul
{
    list-style-type: none;
}


/* HEADER SECTION */
header
{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    padding: 20px 0;
    background: var(--white);
}

header #mode
{
    cursor: pointer;
}

header #navbar
{
    width: 50%;
    font-size: 1.1rem;
}

header #navbar ul
{
    display: flex;
}

header #navbar ul li
{
    margin-left: 4rem;
}

header #navbar ul li a
{
    color: var(--black);
}

/* END OF HEADER */


/* MAIN SECTION */
/* HOME */
main #home
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #home p:first-child
{
    color: var(--blue);
    font-size: 2rem;
}

main #home h2
{
    font-family: 'Martel', serif;
    font-weight: 800;
    font-size: 4rem;
    text-transform: uppercase;
}

main #home a
{
    display: block;
    margin-top: 15px;
    color: var(--blue);
}

/* ABOUT */
main #about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

main #about > p
{
    width: 50%;
}

main #about > h2
{
    text-transform: uppercase;
    margin-bottom: 25px;
}

main #about > a
{
    margin-top: 30px;   
}

main #about > a,
main #about .expertise-section .skills .contact-details a
{
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--blue);
}


main #about .expertise-section
{
    margin-top: 100px;
    width: 80%;
}

main #about .expertise-section > p
{
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

main #about .expertise-section .skills
{
    background-color: var(--ash);
    margin-bottom: 30px;
    padding: 20px 0;
}

main #about .expertise-section .skills .top-part
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

main #about .expertise-section .skills .top-part .more-info
{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%;
}

main #about .expertise-section .skills .images img
{
    width: 4rem;
    margin-right: 20px;
}

main #about .expertise-section .skills .top-part #frontend
{}

main #about .expertise-section .skills .bottom-part
{
    text-align: center;
}

main #about .expertise-section .skills .contact-details a:first-child
{
    margin-right: 15px;
}











/* END OF MAIN SECTION */

/* border: solid 2px rgb(65, 163, 255); */